/*块引用*/
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:before {
  content: "「"; /*前半部分的符号*/
  color: var(--b3-theme-zz2); /*修改前半部分颜色*/
  margin-right: 3px;
  font-weight: bold;
  transition: 0.4s;
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:after {
  content: "」"; /*后半部分的符号*/
  color: var(--b3-theme-zz2); /*后改前半部分颜色*/
  margin-left: 3px;
  font-weight: bold;
  transition: 0.4s;
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"] {
  color: var(--b3-theme-zz2); /*更改颜色*/
  padding-bottom: 0em;
  box-sizing: border-box;
  height: 1.5em;
  opacity: 1;
  font-weight: bold;
  transition: 0.4s;
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover,
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover::after,
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover::before {
  color: var(--b3-theme-zz5);
} 


/* 块引用悬浮动画 */
.block__popover.block__popover--move.block__popover--open {
    animation: showBlock 0.35s ease-in-out;
  }
  @keyframes showBlock {
      from {
        opacity: 0;
        transform: translate(0px,7px); /* 标准语法 */
    }
    to {
        opacity:1;
        transform: translate(0,0px); /* 标准语法 */
    }
    }
  }
  div[data-type="block-render"] {
    margin-top: 5px;
  }
  /* 块引弹窗固定高度、边框、定位 */
  
  .block__popover.block__popover--move.block__popover--open {
    min-height: 40%;
    border-radius: 7px;
    position: absolute;
      bottom:200px;
      right: 40px;
    /*border: solid 2.3px var(--b3-theme-zz2);*/
  }
  /* 添加块引用钉住图标动画 */
  .block__popover--move .block__icon .ft__primary {
    transform: rotate(30deg) !important;
    transition: all 0.2s ease-out;
  }

/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type="tag"]:not(:empty) {
  display: inline-block;
  color: var(--b3-theme-zz1);
  background-color: var(--b3-theme-zz2);
  font-size: 70%;
  border-radius: 15px;
  padding: 3px 12px 3px 10px;
  transition: 0.16s;
}
.protyle-wysiwyg [data-node-id] span[data-type="tag"]:not(:empty):hover {
  transform: translateY(2px);
}
/* 标签#号 */
.protyle-wysiwyg [data-node-id] span[data-type="tag"]:not(:empty)::before {
  content: "# ";
  font-weight: bold;
}
.protyle-wysiwyg [data-node-id] span[data-type="tag"]:not(:empty)::after {
  content: " #";
  font-weight: bold;
}

/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type="a"] {
  color: var(--b3-theme-zz2);
  cursor: pointer;
  border-bottom: 1px solid var(--b3-theme-zz2);
  word-break: break-all;
  font-weight: bold;
  transition: 0.4s;
}
.protyle-wysiwyg [data-node-id] span[data-type="a"]::before {
  /*超链接前面的符号*/
  content: "@ ";
  transition: 0.1s;
}
.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover {
  color: var(--b3-theme-zz5);
  border-bottom: 1px solid var(--b3-theme-zz5);
}
.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover::before{
  content: "访问 ";
}
.b3-typography a {
  /*断行样式*/
  word-break: break-all;/*对于non-CJK (CJK 指中文/日文/韩文) 文本，可在任意字符间断行。*/
}

/*标记*/
mark {
  display: inline-block;
  background-color: var(--b3-theme-zz2) !important;
  color: var(--b3-theme-zz1) !important;
  font-size: 90%;
  padding: 2px;
  border-radius: 3px;
  transition: 0.16s;

}
mark:hover {
  transform: translate(0px, -2px);}

/* 搜索高亮 */
.b3-list mark,
.protyle-wysiwyg [data-node-id] span[data-type="search-mark"] {
  background-color: var(--b3-theme-zz2);
  color: var(--b3-theme-zz1);
}

.emojis__item--current {
  background: #7c7e7d8e;
  border-radius: 4px;
}

/* 行内代码 */
.b3-typography code:not(.hljs):not(:empty),
.protyle-wysiwyg code:not(.hljs):not(:empty) {
  transform: translateY(-0.7px);
  padding-top: 3px;
  padding-bottom: 1px;
  background-color:var(--b3-theme-zz4) !important;
  margin: 0px 2px;
  border: 1px solid var(--b3-theme-zz2);
  color: var(--b3-theme-zz2);
}
.b3-typography code:not(.hljs):not(:empty):hover,
.protyle-wysiwyg code:not(.hljs):not(:empty):hover {
  box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
  transform: translate(0, -2px);
  animation: qianru 0.3s ease-in-out;
}
@keyframes qianru {
  from {
    box-shadow: 0px 0px 0px 0px rgba(59, 102, 93, 0.568);
    transform: translate(0, 0px);
  }
  to {
    box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
    transform: translate(0, -2px);
  }
}


/*嵌入*/
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
  border: solid 1px var(--b3-theme-zz2);
  background-color: transparent;
  border-radius: 3px;
  /* margin: 10px -10px; */
  padding: 4px 10px;
  margin-bottom: 12px;
}
/* 块嵌入hover动画 */
.protyle-wysiwyg
  [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]:hover {
  box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
  transform: translate(0, -2px);
  animation: qianru 0.3s ease-in-out;
}
@keyframes qianru {
  from {
    box-shadow: 0px 0px 0px 0px rgba(59, 102, 93, 0.568);
    transform: translate(0, 0px);
  }
  to {
    box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
    transform: translate(0, -2px);
  }
}

/* 调整kbd 键盘 */
.b3-typography kbd,
.protyle-wysiwyg kbd {
  display: inline-flex;
  padding: 2px 4px;
  margin: 0px 2px;
  font-size: 70%;
  color:rgba(56, 55, 55, 0.692);
  /*border: solid 0.5px var(--b3-theme-zz2);*/
  background-color: var(--b3-theme-zz1);
  transform: translateY(-1.5px);
  box-shadow: 0px 1px 2px 1px var(--b3-theme-zz2);
  transition: 0.13s;
}
.b3-typography kbd:hover,
.protyle-wysiwyg kbd:hover{
  transform: translateY(0.3px);
  box-shadow: -0.5px -0.5px 2px 1px var(--b3-theme-zz2);
} 

/*超级块*/
.protyle-wysiwyg > .sb {
  /* 超级块与普通块间距一致  */
  padding: 4px 0px !important;
}
.protyle-wysiwyg .sb[data-sb-layout="col"] > div[data-node-id] {
  /* 超级块内块都设置右margin */
  margin: 4px 4px 4px 0px;
  /* 超级块内块颜色、阴影、圆角、边框 */
  background-color: transparent;
  border-radius: 1px;
  border: solid 1px var(--b3-theme-zz2);
}
/*超级块动画*/
.protyle-wysiwyg .sb[data-sb-layout="col"] > div[data-node-id]:hover {
  box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
  transform: translate(0, -2px);
  animation: qianru 0.3s ease-in-out;
}
@keyframes qianru {
  from {
    box-shadow: 0px 0px 0px 0px rgba(59, 102, 93, 0.568);
    transform: translate(0, 0px);
  }
  to {
    box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
    transform: translate(0, -2px);
  }
}
.protyle-wysiwyg
  .sb[data-sb-layout="col"]
  > div[data-node-id]:nth-last-child(2) {
  /* 超级块内最后一个块无右margin */
  margin: 4px 0px 4px 0px;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb {
  /* 超级块与超级块间距 */
  margin: 0px 4px 0px 0px;
}
.protyle-wysiwyg
  [data-node-id].sb[data-sb-layout="col"]
  > .sb:nth-last-child(2) {
  /* 超级块与超级块间距，最后一个超级块无右margin */
  margin: 0px;
}

/* 光标选中文本样式 */
.protyle-wysiwyg ::selection {
  background-color: var(--b3-theme-zz4) !important;
}
/* 选中块 */
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
  background-color: var(--b3-theme-zz4) !important;
}
/* 选中块的优化 */
.protyle-wysiwyg--select.bq[style*="background-color:"] > div {
  background-color: var(--b3-theme-zz4) !important;
}
/* 鼠标划选区域*/
.protyle-select {
  background-color: var(--b3-theme-zz4) !important;
}

/* 调整菜单 */
.b3-menu .b3-menu__item {
  padding: 4px 16px 0 8px;
  border-radius: 4px !important;
}
.b3-menu {
  padding: 0px 0;
}
.file-tree__close > li {
  opacity: 0.6;
}
.file-tree__close.fn__flex-1 > li {
  opacity: 1;
  border-top: 1px solid var(--b3-theme-zz4);
}
/* 菜单选中高亮 */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
  background-color: var(--b3-theme-zz4) !important;
}
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)
  > .b3-menu__label,
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)
  > .b3-menu__icon,
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)
  > .b3-menu__accelerator {
  color: var(--b3-theme-zz2) !important;
}
/* 菜单栏加宽 */
.b3-menu,
.b3-menu .b3-menu__submenu {
  border-radius: 2px;
  padding: 6px 6px 6px;
  min-width: 200px;
 /* border: solid 3px var(--b3-theme-zz2);*/
  animation: caidan 0.23s ease-in-out;
}
@keyframes caidan {
  from {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px); /* Safari */
    transform: translate(-20px, -0px); /* 标准语法 */
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 10px); /* Safari */
    transform: translate(0, 0px); /* 标准语法 */
  }
  .b3-menu .b3-menu__submenu {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 6px 5px;
  }
}
.b3-menu .b3-menu__submenu{
    transform:translateX(6px);
}


/* -------------------------------代码块样式-------------------------------------- */

.b3-typography .code-block,
.protyle-wysiwyg .code-block {
  background-color: transparent;
  border: solid 1px var(--b3-theme-zz2);
}
/* 代码块hover动画 */
.b3-typography .code-block,
.protyle-wysiwyg .code-block:hover {
  box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
  transform: translate(0, -2px);
  animation: qianru 0.3s ease-in-out;
}
@keyframes qianru {
  from {
    box-shadow: 0px 0px 0px 0px rgba(59, 102, 93, 0.568);
    transform: translate(0, 0px);
  }
  to {
    box-shadow: 2px 2px 1px 1px rgba(36, 59, 54, 0.568);
    transform: translate(0, -2px);
  }
}

.b3-typography .hljs,
.protyle-wysiwyg .hljs {
  background-color: #0000;
}

.protyle-linenumber {
  background-color: #0000;
}

/* 悬浮工具栏 */
.protyle-toolbar{
    color: var(--b3-theme-zz2);
    border: solid 1.5px var(--b3-theme-zz2);
  }
.protyle-toolbar__item:hover {
    color: var(--b3-theme-zz2);
  }
  .protyle-toolbar__item--current,
  .protyle-toolbar__item--current:hover {
    color: red;
  }

/*-----文档树-----*/
  /* 文档树文字放大 */
.b3-list--files .b3-list-item__text:hover {
    font-weight: bold;
  }
.b3-list--files .b3-list-item__text {
    transition: all 0.1s ease-in-out;
  }
  /*文档树选中时*/
  .b3-list--background .b3-list-item--focus,
  .b3-list--files .b3-list-item--focus:not(.dragover){
    border: solid 2px var(--b3-theme-zz2);
    background-color: transparent !important;
    border-radius: 5px;
    font-weight: bold;
  }
 



  /* pdf双链 */
.protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"] {
    color: var(--b3-theme-zz2);
    padding-bottom: 0em;
    box-sizing: border-box;
    height: 1.5em;
    opacity: 1;
    font-weight: bold;
    transition: 0.4s;
  }
  .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:before {
    content: "「"; /*前半部分的符号*/
    color: var(--b3-theme-zz2); /*修改前半部分颜色*/
    margin-right: 3px;
    font-weight: bold;
    transition: 0.4s;
  }
  .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:after {
    content: "」"; /*后半部分的符号*/
    color: var(--b3-theme-zz2); /*后改前半部分颜色*/
    margin-left: 3px;
    font-weight: bold;
    transition: 0.4s;
  }
  .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:hover,
  .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:hover::before,
  .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:hover::after {
    color: var(--b3-theme-zz5);
  }
  
  /* pdf搜索高亮 */
  .textLayer .highlight.selected {
    background-color: var(--b3-theme-zz2);
    color: var(--b3-theme-zz1);
  }

/* 选中的标签页 */
.layout-tab-bar .item--focus,
.layout__wnd--active .layout-tab-bar .item--focus {
  border-bottom: solid 3px var(--b3-theme-zz2);
}
.layout__wnd--active .layout-tab-bar .item--focus {
    font-weight: 600;
  }

/*----各级标题----*/
  .protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
}
.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
}
.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
}
.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
  border-left-width: ;
}
.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
}
.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
  border-left: 3px solid var(--b3-theme-zz2) !important;
  padding-left: 9px;
}

/*----表格----*/
/*背景透明*/
.b3-typography table tbody tr,
.protyle-wysiwyg table thead,
.protyle-wysiwyg table tbody tr{
  background: transparent;
}
/*表格边框线*/
.b3-typography table,
.protyle-wysiwyg td,th{
  border: solid 1px var(--b3-theme-zz2) !important;
}
/*行颜色hover*/
.b3-typography table,
.protyle-wysiwyg tr:hover{
  background-color: var(--b3-theme-zz4) !important;
}
/*斑马纹*/
/*.b3-typography table,
.protyle-wysiwyg tr:nth-child(even){
  background-color: var(--b3-theme-zz4) !important;
}*/

/*-----无序列表-----*/
/*无折叠hover*/
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover:after {
  /* 大圆背景 */
  background-color: var(--b3-theme-zz2) !important;
  opacity: 0.68;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover {
  /* 小圆点 */
  color: var(--b3-theme-zz1);
}

/* 列表折叠 */
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action:after {
  /* 大圆背景 */
  background-color: rgba(58, 55, 55, 0.514) !important;
  opacity: 0.68;
}
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action {
  /* 小圆点 */
  color: var(--b3-theme-zz2) !important;
}

.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action:hover {
  /* 折叠经过小圆背景 */
  color: var(--b3-theme-zz1) !important;
}
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action:hover::after {
  /* 折叠经过大圆背景 */
  background-color: var(--b3-theme-zz2) !important;
  opacity: 0.68;
}
/*列表前面的竖线*/
.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
  border-left: 1px solid var(--b3-theme-zz2);
}
